/*START of background gradient*/
body{
    background: linear-gradient(137deg, #d30000, #4c0000);
    background-size: 400% 400%;
    color: #FFFFFF;
    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;

}
@-webkit-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
/*END of background gradient*/

/*CENTERS stuff to the middle*/
#centered{
    text-align: center;
    margin: auto;
    width: 60%;
}

/*START of side navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*END of side navigation*/

/*index content manipulation*/
#index_main{
    background-color: #ddd;
    color: #000000;
}
/*lesson post content manipulation*/
#post{
    text-align: left;
    border-width: 2px;
    border-color: #000000;
    border-bottom: solid;
}
/*title header*/
#title{
    background-color: #e0eeee;
    width: relative;
    color: #000000;
}

/*This adds a shadow around h2 tags*/
h2{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
