body {
    margin: 0;
    color: white;
    background: $primary;
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5rem 0;
}

h1 {
    font-size: 2.5em;
}

p {
    line-height: 1.7;
    font-size: 1.1em;
}

li {
    font-size: 1.2em;
}

figure {
    margin: 0;
    font-size: 1.2em;
    font-family: $font-stack-mono;
}

.monospace {
    font-family: 'Inconsolata';
}

.bang {
    margin-bottom: 1em;
    padding: 1em;
    background: $dark;
}

a {
    // padding: 2px 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to top, $highlight 15%, transparent 15%);
}

a:hover {
    background: $highlight;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2em 0;
    max-width: 800px;
}
