@media(min-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar a {
    background: transparent;
    color: $secondary;
    margin: 0 2em 0 0;
    text-decoration: none;
    transition-duration: .2s;
}

.navbar a:hover {
    color: white;
}
